using AutoMapper;
using Moq;
using Application.Handlers.{{.CapsResourceNameSingular}}Service;
using Application.Queries.{{.CapsResourceNameSingular}}Service;
using Application.Responses;
using Core.Entities;
using Core.Repositories;

namespace Application.Tests.Handlers.{{.CapsResourceNameSingular}}Service
{
    public class GetAll{{.CapsResourceNamePlural}}QueryHandlerTests
    {
        [Fact]
        public async Task Handle_ReturnsListOf{{.CapsResourceNameSingular}}Responses()
        {
            // Arrange
            var mapperConfig = new MapperConfiguration(cfg =>
            {
                cfg.CreateMap<{{.CapsResourceNameSingular}}, {{.CapsResourceNameSingular}}Response>();
            });

            var mapper = new Mapper(mapperConfig);

            var obj = new List<{{.CapsResourceNameSingular}}> 
        {
            new {{.CapsResourceNameSingular}} { Id = 1 },
            new {{.CapsResourceNameSingular}} { Id = 2 }

        };

            var RepositoryMock = new Mock<I{{.CapsResourceNameSingular}}Repository>();
            RepositoryMock.Setup(repo => repo.GetAllAsync()).ReturnsAsync(obj);

            var query = new GetAll{{.CapsResourceNamePlural}}Query();
            var handler = new GetAll{{.CapsResourceNamePlural}}QueryHandler(RepositoryMock.Object, mapper);

            // Act
            var result = await handler.Handle(query, CancellationToken.None);

            // Assert
            Assert.NotNull(result);
            Assert.IsType<List<{{.CapsResourceNameSingular}}Response>>(result);
            Assert.Equal(obj.Count, result.Count);
           
        }
    }
}
