namespace Application.Responses
{
    public class {{.CapsResourceNameSingular}}Response
    {    
        [Key]
        public int Id  { get; protected set; } `json:"id,omitempty"`
        {{range $k, $v := .Fields}}
            {{if eq $k "Id"}}
            {{else}}
            {{"public"}} {{$k}} {{ "{ get; set; }" }} `json:"{{ToLowerCamelCase $k}},omitempty"`
            {{end}}
        {{end}}
    }
}
