using MediatR;

namespace Application.Commands.{{.CapsResourceNameSingular}}Service
{
    public class Create{{.CapsResourceNameSingular}}Command : IRequest<int>
    {
        public int Id  { get; set; }
        {{range $k, $v := .Fields}}
            {{if eq $k "Id"}}
            {{else}}
            public {{$v}} {{$k}} { get; set; }
            {{end}}
        {{end}}
    }
}
