namespace Application.Responses
{
    public class {{.CapsResourceNameSingular}}Response
    {    
        public int Id  { get; protected set; }
        {{range $k, $v := .Fields}}
            {{if eq $k "Id"}}
            {{else}}
            public {{$v}} {{$k}} { get; set; }
            {{end}}
        {{end}}
    }
}
