{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "ConnectionString": "Data Source=localhost,1433;Initial Catalog={{.MicroServiceName }};User Id=sa;Password=Test@123;TrustServerCertificate=True;"
  },
  "Honeycomb": {
    "ServiceName": "{{.MicroServiceName}}",
    "ApiKey": "3eCezSr98JDpYqhrk828OE"
  }
}
