{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "ConnectionString": "Data Source=.;Initial Catalog = DbName;User Id=***;Password=****;TrustServerCertificate=True;"
  }
}
