using MediatR;
using Application.Responses;

namespace Application.Queries.{{.CapsResourceNameSingular}}Service
{
    public class GetAll{{.CapsResourceNamePlural}}Query : IRequest<List<{{.CapsResourceNameSingular}}Response>>
    {

    }
}
