using Core.Common;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;

namespace Core.Entities
{
    public class {{.CapsResourceNameSingular}} : EntityBase
    {
        public int Id  { get; protected set; }
        {{range $k, $v := .Fields}}
            {{if eq $k "Id"}}
            {{else}}
            public {{$v}} {{$k}} { get; set; }
            {{end}}
        {{end}}
    }
}
