apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{.MicroServiceName}}
  name: {{.MicroServiceName}}
  labels:
    app: {{.MicroServiceName}}
spec:
  selector:
    matchLabels:
      app: {{.MicroServiceName}}
  template:
    metadata:
      labels:
        app: {{.MicroServiceName}}
        name: {{.MicroServiceName}}
    spec:
      containers:
        - name: {{.MicroServiceName}}
          image: {{.GitPlatformUserName}}/{{.GitRepositoryName}}/{{.MicroServiceName}}
          imagePullPolicy: Always
          ports:
        {{if .IsRestServer }}
          - containerPort: {{.RestServerPort}}
            name: http
        {{end}}
        {{if .IsRestServer }}
          readinessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 5
            periodSeconds: 15
          livenessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 15
            periodSeconds: 30
        {{end}}