apiVersion: v1
kind: Service
metadata:
  namespace: {{.MicroServiceName}}
  labels:
    app: {{.MicroServiceName}}
  name: {{.MicroServiceName}}
spec:
  ports:
  {{if .IsRestServer }}
    - protocol: TCP
      port: {{.RestServerPort}}
      targetPort: {{.RestServerPort}}
   {{end}}
  selector:
    app: {{.MicroServiceName}}
  type: ClusterIP
