using MediatR;

namespace Application.Commands.{{.CapsResourceNameSingular}}Service
{
    public class Create{{.CapsResourceNameSingular}}Command : IRequest<int>
    {
        [Key]
        public int Id  { get; set; } `json:"id,omitempty"`
        {{range $k, $v := .Fields}}
            {{if eq $k "Id"}}
            {{else}}
            {{"public"}} {{$k}} {{ "{ get; set; }" }} `json:"{{ToLowerCamelCase $k}},omitempty"`
            {{end}}
        {{end}}
    }
}
