namespace Application.Exceptions
{
    public class {{.CapsResourceNameSingular}}NotFoundException : ApplicationException
    {
        public {{.CapsResourceNameSingular}}NotFoundException(string name, object key) : base($"Entity {name} - {key} is not found.")
        {

        }
    }
}
