using AutoMapper;
{{range $i, $v := .RestResources}}
using Application.Commands.{{$v.CapsResourceNameSingular}}Service;
{{end}}
using Application.Responses;
using Core.Entities;

namespace Application.Mappers
{
    public class MappingProfile : Profile
    {
        public MappingProfile()
        {
          {{range $i, $v := .RestResources}}
            CreateMap<{{$v.CapsResourceNameSingular}}, {{$v.CapsResourceNameSingular}}Response>().ReverseMap();
            CreateMap<{{$v.CapsResourceNameSingular}}, Create{{$v.CapsResourceNameSingular}}Command>().ReverseMap();
            CreateMap<{{$v.CapsResourceNameSingular}}, Update{{$v.CapsResourceNameSingular}}Command>().ReverseMap();
          {{end}}
        }
    }
}
